/* 
INFO: 
	project: news tape
	browsers: opera/chrome/FF/safari + mobiles
	width: mobile
	columns: 
	markup: Sergey Kalinin 08/2016 (prozaik81-2@yandex.ru)
	use: jq, underscore, backbone
	desc: 	ddf23
	version 1
*/	


/*
COLORS SET:
  grey:   #d6dee5
  blue:   #2c9ed5
  red:    #f00
  black:  #252525

*/



/********************************************************************************************** COMMON_STYLES */
html, body, div, h1, h2, h3, h4, h5, h6, a, a img, p, ul, ol, li, span, fieldset , form, dl, dd, dt, table, tr, td, img{ 
  border: none;
  margin: 0; 
  outline: none;  
  padding: 0; 
  /*overflow: hidden;*/
}

html{
  height:100%;  
}

body{ 
  height:100%;  
  margin: 0 auto;
  position: relative;
  background: #d6dee5; 
  position: relative;

  font: 14px Helvetica, sans-serif;
} 

ul{
  list-style-type: none;
}

input[type="text"]:focus, input[type="password"]:focus, textarea:focus { outline: none; }

textarea{
  resize: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
  zoom:1;
}

.clear{
  clear: both;
} 
  
.hide{
  display: none;
}

.show{
  display: block;
}

input::-webkit-input-placeholder {
  color: #0096ef;
}

input:-moz-placeholder {
  color: #0096ef;
}

/********************************************************************************************* GLOBAL_layout */


/********************************************************************************************* modal */
.ng-modal-overlay {
  /* A dark translucent div that covers the whole screen */
  position:absolute;
  z-index:9999;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:#000000;
  opacity: 0.8;
}
.ng-modal-dialog {
  /* A centered div above the overlay with a box shadow. */
  z-index:10000;
  position: absolute;
  width: 50%; /* Default */

  /* Center the dialog */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);

  background-color: #fff;
  box-shadow: 4px 4px 80px #000;
}
.ng-modal-dialog-content {
  padding:10px;
  text-align: left;
}
.ng-modal-close {
  position: absolute;
  top: 3px;
  right: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 120%;
  display: inline-block;
  font-weight: bold;
  font-family: 'arial', 'sans-serif';
}
